:root {
    --primary: hsla(210 25% 20% / 1);
    
    --text-white: hsla(210 50% 98% / 1);
    --text-reg: 1.6rem;
    --text-respond: clamp(1.6rem, 2vw, 2.4rem);
}
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
body {
    font-size: 1.8rem;
    font-family: sans-serif;
}
.main-nav {
    background-color: var(--primary);
    color: var(--text-white);
    max-inline-size: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    padding: 2rem 0;

    
    & a {
        color: inherit;
        font-size: var(--text-respond); 
        text-decoration: none;
    }

    @media only screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: space-around;
    }
}