:root {
    --primary: hsla(210 25% 20% / 1);
    
    --text-white: hsla(210 50% 98% / 1);
}
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
htlm {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
.main-nav {
    background-color: var(--primary);
    color: var(--text-white);
    max-inline-size: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
    & a {
        color: inherit;
        text-decoration: none;
    }
}